{% extends 'base.html'%}

{%block content%}

<button type="button" class="btn btn-dark btn-lg btn-block">Comedy Trends</button>
<div class="container">
  <div class="row">
    <div class=".col-1">
      1 of 3
    </div>
    <div class=".col-6">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

  <form action='firstpage.html'  method='POST'>
    {% csrf_token %}

    <button type='submit' class="btn btn-secondary" name="indians"> By Indian</button>
  </form>

  <form action='firstpage.html' method='POST'>
    {% csrf_token %}

    <button type='submit' class="btn btn-secondary" name="americans"> By Americans</button>
  </form>


  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      By Comedian
    </button>

    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Varun Grover</a>
      <a class="dropdown-item" href="#">Akash Gupta</a>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      By Themes
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
      <a class="dropdown-item" href="#">Accents</a>
      <a class="dropdown-item" href="#">Politics</a>
    </div>
  </div>


  <form action='' method='GET'>
    <button type='submit' class="btn btn-secondary"> By Females</button>
  </form>

  <form action='' method='GET'>
    <button type='submit' class="btn btn-secondary"> Family Friendly</button>
  </form>

  <form action='firstpage.html' method='POST'>
    {% csrf_token %}
    <button type='submit' class="btn btn-secondary" name="kids"> By Kids</button>
  </form>


  <form action="firstpage.html" method="POST">
    {% csrf_token %}
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="drop3">
    By Video Length
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="submit" name="short">Short Videos</button>
    <button class="dropdown-item" type="submit" name="medium">Medium Length Videos</button>
    <button class="dropdown-item" type="submit" name="long">Long Videos</button>
  </div>
  </div>
  </form>

<form action='firstpage.html' method='POST'>
    {% csrf_token %}
    <button type='submit' class="btn btn-secondary" name="classics"> Classics Collection</button>
  </form>

  <form action='firstpage.html' method='POST'>
    {% csrf_token %}
    <button type='submit' class="btn btn-secondary" name="mostviewed"> Most Viewed</button>
  </form>

  <form action='' method='GET'>
    <button type='submit' class="btn btn-secondary"> Most Liked</button>
  </form>

  <form action='' method='GET'>
    <button type='submit' class="btn btn-secondary"> Highest Searched</button>
  </form>

  <form action='' method='GET'>
    <button type='submit' class="btn btn-secondary">Trending Videos</button>
  </form>





</div>
      </div>
    <div class=".col-1">
      3 of 3
    </div>
  </div>
<div>
  <form action='' method='GET'>
    <button type='submit' class="btn btn-secondary">Insert videos</button>
  </form>
</div>
</div>

{%endblock%}